span.gothFont {
	font-family: "Century Gothic";
}

.btn1 {
    margin: 0 0.6rem;
    height: 2.8rem;
    min-width: 0;
    line-height: 2.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 2.8rem;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none; color: grey;
}

.angular-google-map-container { 
  height: 400px; 
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; 
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; 
  }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; 
}

.resize {
    width:200px;
    height:300px;
}

.resize:hover {
    height:400px;
    width:500px;
}