<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" [routerLink]="['/dashboard']">
        <img src="./assets/navbaricon.png" alt="wgt logo">
      </a>
      <a *ngFor="let button of buttons" 
          routerLink="{{'/' + button.link}}" 
          routerLinkActive="is-active" 
          class="nav-item is-tab is-hidden-mobile">
          {{button.title}}
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a *ngFor="let button of buttons" 
          routerLink="{{'/' + button.link}}" 
          routerLinkActive="is-active" 
          class="nav-item is-tab is-hidden-tablet is-active">
        {{button.title}}
      </a>
    </div>
  </div>
</nav>
