.nav-item {
    color: white;
}

.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    color: white;
    border-bottom: 5px solid darkorange;
}

.nav .is-active {
    color: darkgrey;
    border-bottom: 5px solid darkorange;
}

.nav {
    background-color: black;
}

.navbar-header-font {
    font-family: gothic;
    font-size: 2.5rem;
}

@font-face {
    font-family: gothic;
    src: url(../../../assets/fonts/SketchGothicSchool.ttf);
}