<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <!-- Include css stylesheets and some other options -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/angular-material.min.css"></link>
  <link rel="stylesheet" href="css/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <title>wave-gotik-treffen</title>

</head>



<div ng-controller="aboutCtrl">
<div class="md-dark">
 <md-content >
    <md-toolbar >
    	<div class="md-toolbar-tools">
        	<h2>
	        	<span class="gothFont">
	        		<a href="#about">
	        			<div style="color:white">
	        				Wave-Gotik-Treffen
	        			</div>
	        		</a>
	        	</span>
    	    </h2>
    	    <md-menu style="padding:0; margin:0;">
				<md-button ng-click="$mdOpenMenu($event)"  aria-label="Open some menu" >
			       Information
			       <md-icon md-svg-icon="img/icon/caret-down.svg" style="color: yellow; height: 15px; width: 15px"></md-icon> 
				</md-button>

				<md-menu-content>

					<md-menu-item>
					    <md-button href="#about" ng-click="$mdMenu.hide()">
					        <div style="color:white;">
					        	About
					       	</div>
					    </md-button>
					</md-menu-item>
					    
					<md-menu-item>
					   	<md-button href="#news" ng-click="$mdMenu.hide()">
					    	<div style="color:white;">
					    		News
					    	</div>
						</md-button>
					</md-menu-item>
					    
					<md-menu-item>
						<md-button href="#contact" ng-click="$mdMenu.hide()">
							<div style="color:white;">
					    		Contact
					    	</div>
					    </md-button>
					</md-menu-item>

				</md-menu-content>
			</md-menu>

			<md-menu style="padding:0; margin:0;">
				<md-button ng-click="$mdOpenMenu($event)">
					<div style="color:white;">
						Program 
						<md-icon md-svg-icon="img/icon/caret-down.svg" style="color: yellow; height: 15px; width: 15px"></md-icon> 
					</div>
				</md-button>

				<md-menu-content>
				      	<md-menu-item>
				        	<md-button href="#bands" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			<div style="color:white;">
				        				Bands
				        			</div>
				        		</div>
					        </md-button>
				    	</md-menu-item>
				    	<md-menu-item>
				        	<md-button href="#parties" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			Parties
				        		</div>
					        </md-button>
				    	</md-menu-item>
				    	<md-menu-item>
				        	<md-button href="#theatherVariety" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			Theather and Variety
				        		</div>
					        </md-button>
				    	</md-menu-item>
				    	<md-menu-item>
				        	<md-button href="#movies" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			Movies
				        		</div>
					        </md-button>
				    	</md-menu-item>
				    	<md-menu-item>
				        	<md-button href="#readingLectures" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			Reading and lectures
				        		</div>
					        </md-button>
				    	</md-menu-item>
				    	<md-menu-item>
				        	<md-button href="#museumsExhibitions" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			Museums and exhibitions
				        		</div>
					        </md-button>
				    	</md-menu-item>
				    	<md-menu-item>
				        	<md-button href="#various" ng-click="$mdMenu.hide()">
				        		<div style="color:white;">
				        			Various
				        		</div>
					        </md-button>
				    	</md-menu-item>
					</md-menu-content>
			</md-menu>

			<md-menu style="padding:0; margin:0;">
				<md-button ng-click="$mdOpenMenu($event)"  aria-label="Open some menu" >
			       The past
			       <md-icon md-svg-icon="img/icon/caret-down.svg" style="color: yellow; height: 15px; width: 15px"></md-icon> 
				</md-button>

				<md-menu-content>
			      	
			      	<md-menu-item>
			        	<md-button href="#pastbands">
			        		<div style="color:white;">
			        			<div style="color:white;">
			        				Past bands
			        			</div>
			        		</div>
				        </md-button>
			    	</md-menu-item>
			    	
			    	<md-menu-item>
			        	<md-button href="#photos">
			        		<div style="color:white;">
			        			Photos
			        		</div>
				        </md-button>
			    	</md-menu-item>
				</md-menu-content>
			</md-menu>

			</md-button>
	        <md-button aria-label="Tickets" href="#tickets">
	        	Tickets
	        </md-button>
	        <md-button aria-label="Forum" href="http://www.wave-gotik-treffen.de/forumwgt3/index.php">
	          	Forum
	        </md-button>
    	</div>
    </md-toolbar>
</md-content>
</div>
</div>
<body ng-app="wgt" ng-style="{ 'background-image': 'url(' + urlPic + ')', 'background-size':'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat' }"> 


<body ng-app="wgt" >

<!--<style>body { background-image:url({{urlPic}});background-repeat: no-repeat;background-size:cover; } </style>-->
<div ng-view ng-style="{ 'background-image': 'url(' + urlPic + ')', 'background-size':'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat' }"></div>

<!-- jQuery imports-->
<script type="js/deps/jQuery/1.12.1/jquery.js"></script>

<!-- Angular imports -->
<script src="js/deps/angular/1.5.0/angular.min.js"></script>
<script src="js/deps/angular/1.5.0/angular-route.min.js"></script>
<script src="js/deps/angular/1.5.0/angular-resource.min.js"></script>
<script src="js/deps/angular/1.5.0/angular-animate.min.js"></script>
<script src="js/deps/angular/1.5.0/angular-aria.min.js"></script>
<script src="js/deps/angular/1.5.0/angular-messages.min.js"></script>
<script src='js/deps/angular/angular-google-maps/2.3.2/angular-google-maps.min.js'></script>
<script src="js/deps/angular/angular-material/1.0.0/angular-material.min.js"></script>

<!-- Other imports -->
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.js" type="text/javascript"></script>
<script src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js"></script>


<!-- Local imports -->
<script src="js/src/app.js"></script>
<script src="js/src/information/AboutController.js"></script>
<script src="js/src/information/NewsController.js"></script>
<script src="js/src/information/ContactController.js"></script>
<script src="js/src/program/BandsController.js"></script>
<script src="js/src/program/MoviesController.js"></script>
<script src="js/src/program/MuseumExibController.js"></script>
<script src="js/src/program/PartiesController.js"></script>
<script src="js/src/program/ReadingLectureController.js"></script>
<script src="js/src/program/TheatreVarietyController.js"></script>
<script src="js/src/program/VariousController.js"></script>
<script	src="js/src/past/PastBandsController.js"></script>
<script	src="js/src/past/PhotosController.js"></script>

<script	src="js/other/DialogController.js"></script>
</body>
</html>