
<div style="padding-left: 200px;padding-right: 200px;opacity:0.9">
<md-card>
  <img ng-src="{{imagePath}}" style="height: 100px"class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <md-subheader>
        <div style="font-size:30px">
          Please feel free to contact us!
        </div>
      </md-subheader>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-content>
    <div ng-class="{'md-offset': $index == 2 }">
      
    </div>
    </md-content>
    
    <md-divider></<md-divider>

    

    <md-content>
      <md-list>
      <md-subheader class="md-no-sticky">E-mail us at:</md-subheader>
        <md-list-item class="md-1-line" ng-repeat="email in emails">
          <div class="md-list-item-text" ng-class="{'md-offset': $index == 1 }">
            <div style="color:white">
              <md-icon md-svg-icon="img/icon/email.svg"></md-icon> 
              <a href="mailto:{{email}}" style="padding-left:30px"> {{ email }} </a>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <md-divider></<md-divider>

    <md-content>
      <md-list>
      <md-subheader class="md-no-sticky">Call us at:</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="phone in phones">
        <md-icon md-svg-icon="img/icon/local_phone.svg"></md-icon>

          <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
            <h3> {{ phone.number }} </h3>
            <p> {{ phone.type }} </p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-card-content>

  <md-divider></<md-divider>

<md-content>
      <md-list>
      <md-subheader class="md-no-sticky">Address:  </md-subheader>

        <md-list-item class="md-5-line" ng-repeat="info in address">
          <div class="md-list-item-text" ng-class="{'md-offset': $index == 1 }">
            <md-icon md-svg-icon="img/icon/direction-signs.svg"></md-icon> 
            <div style="color:white">
              <p> {{ info.company }} </p>
              <p> {{ info.road }} </p>
              <p> {{ info.postal }} </p>
              <p> {{ info.country }} </p>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <md-divider></<md-divider>
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" click="onClick()" events="marker.events" >
            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
              {{address[0].company}}
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>

<br><br>
</md-card>
</div>
