<h2 align="center" style="color:white; font-family: Century Gothic;padding-left:10px">
	The Wave-Gotik-Treffen 2016 will be from<br>
	13th May 2016 until 16th May 2016 in Leipzig/Germany.
</h2>

<p align="center" style="color:white; font-family: Century Gothic;font-size:20px;padding-left:120px;padding-right:120px">
	Wave gothic treffen is a festival with several flavours. There are many different events happening. These can be found under the <b>program</b> tab. We offern theater, several differents bands playing, food, movies, lectures and much more. The festival is located in the beautiful city of <a href="http://english.leipzig.de/">Leipzeig</a> located 70 min via train from Berlin. 
</p>